html{
    background-image: url(https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=background-blur-clean-531880.jpg&fm=jpg);
    font-family: 'Kanit', sans-serif;
}
h1{
    font-size: 100px;
}
body{
    color: azure;
    display: grid;
    grid-template-columns: max-content auto;
}
.first{
    grid-column: 1;
}
.second{
    grid-column: 2;
}