html{
    background-image: url(https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=background-blur-clean-531880.jpg&fm=jpg);
    font-family: 'Kanit', sans-serif;
    color: azure;
    background-attachment: fixed; /* This keep background image still*/
}
.page{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
h1,p,ul{
    grid-column: 1;
    margin: 5px;
}
h1{
    font-size: 3em;
    margin: 5px;
    text-align: center;
}
.test_link{
    grid-column: 2;
    grid-row: 1/7;
}
.test_img{
    grid-column: 2;
    grid-row: 7;
}