@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji+2|Oswald&display=swap');
html {
    scroll-behavior: smooth;
    scroll-snap-type: y proximity
}
body{
    position: relative;
}
#my-nav{
    scroll-snap-align: start;
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 2em;
}
.my-nav:hover{
    font-size: 2.5em;
}
.nav-link img{
    width: 80%;
}
/* Home content */
#content1{
    background-image: url('../img/BG1.gif');
    height: 800px;
    padding-left: 0px;
    padding-right: 0px;
}
#content1 article{
    padding: 3rem;
}

/* About */
#content2{
    background-color: #ADF5FF;
    height: 800px;
    padding-left: 0px;
    padding-right: 0px;
}

/* Skill */
#content3{
    background-color: steelblue;
    height: 800px;
    padding-left: 0px;
    padding-right: 0px;
}
#content3 article{
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#content3 .part1{
    border: dotted 0.2rem gray;
}
#content3 .part2{
    border: dotted 0.2rem gray;
}

#content4{
    background-color: violet;
    height: 800px;
    padding-left: 0px;
    padding-right: 0px;
}
#content5{
    background-color: royalblue;
    height: 800px;
    padding-left: 0px;
    padding-right: 0px;
}
#footer{
    background-color: slategrey;
    height: 200px;
    padding-left: 0px;
    padding-right: 0px;
}
.blog h1{
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
}
.blog p{
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 1.5em;
}