html{
    background-image: url(https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=background-blur-clean-531880.jpg&fm=jpg);
    font-family: 'Kanit', sans-serif;
    color: azure;
    background-attachment: fixed; /* This keep background image still*/
}
body{
    display: inline-flexbox;
    flex-direction: column;
}
.navbar ul{
    list-style-type: none;
    display: flex;
    flex-flow: row;
    justify-content: center
}
.navbar li{
    border: 1px black solid;
    padding: 5px;
}
#flex1{
    order: 2;
}
a{
    color: wheat;
}
a:hover{
    color: brown;
}
.main img{
    margin: 10px;
    width: 30%;
}
.another h1{
    color: red;
    margin: 0em;
}
.another p{
    color: beige;
    padding-top: 5px;
    padding-bottom: 5px;
}