html{
    background-image: url(https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=background-blur-clean-531880.jpg&fm=jpg);
    font-family: 'Kanit', sans-serif;
    color: azure;
    background-attachment: fixed; /* This keep background image still*/
}
body{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.header{
    grid-column: 1;
    display: grid;
    grid-template-columns: auto auto auto auto ;
}
.search_bar{
    grid-column: 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
#login{
    grid-column: 2;
    width: 30%;
}
#search{
    color: black;
    border: 3px red solid;
    border-radius: 10px;
}