.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto 3px auto auto;
    grid-template-areas:
    "header header"
    "line line"
    "main sidebar"
    "footer footer";
    background-color: aliceblue;
    opacity: 0.8;
    max-width: 945px;
    margin: auto;
}
.site-header{
    grid-area: header;
    padding-left: 40px;
    padding-right: 40px;
}
.main-area{
    grid-area: main;
    padding-left: 40px;
    padding-right: 20px;
}
.sidebar-area{
    grid-area: sidebar;
    padding-right: 40px;
}
.site-footer{
    grid-area: footer;
    padding-left: 40px;
    padding-right: 40px;
}
.line{
    grid-area: line;
    border-top: 3px solid grey;
    margin-top: 5px;
    margin-left: 40px;
    margin-right: 40px;
    border-bottom: 3px solid grey;
}
html{
    background-image: url(https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=background-blur-clean-531880.jpg&fm=jpg);
}
body{
    font-family: Tahoma, 'Open san',sans-serif;
}

header h1{
    margin-bottom: 0;
}

header h1+p{
    margin-top: 0;
}
article header h2{
    margin-bottom: 0;
}
article header p{
    margin-top: 0;
}

footer.site-footer p {
    border-top: 3px solid black;
    padding-top: 5px;
    padding-bottom: 20px;
    margin-top: 0;
}

.site-nav u1 {
    margin-top: 30px;
    margin-left: 0px;
    padding: 0;
}
.site-nav li {
    list-style: none;
    float: left;
    margin-right: 5px;
}
.site-nav a {
    display: block;
    text-decoration: none;
    color: darkblue;
    padding:  10px 20px;
    border: 3px solid dimgray;
}

.site-nav a:hover{
    background-color: aquamarine;
}
