html{
    background-image: url(https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=background-blur-clean-531880.jpg&fm=jpg);
}
body{
    font-family: 'Kanit', sans-serif;
}
h1{
    font-size: 150%;
}